Makefile
Makefile.in
*.o
*.a
*.la
*.lo
*.loT
*.gcov
*.gcda
*.gcno
*.out
.deps
.libs
gpk-marshal.c
gpk-marshal.h
org.freedesktop.PackageKit*.h
xings-install-local-package
xings-install-package-name
xings-package-history
xings-package-updates
xings-packagekit-service
xings-packages
xings-packagekit-preferences
xings-updates-service
gpk-self-test
gpk-self-test.log
gpk-self-test.trs
test-suite.log
.svn
